<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/image_classes.js') }}" type="text/javascript"></script>
    <!--script src='../static/js/image_classes.js' type="text/javascript"></script-->
    <title>Object Recognition Model Performance</title>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top lighten flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ORPD Dashboard</a>
      <h3 class="h3 nav-title">Object Recognition Performance Dashboard</h3>
  </nav>
    <div class='container-fluid'>
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="fas fa-home"></i>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">

              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Other</span>
            </h6>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h5 class="h5">Load images to test the performance of the object recognition model</h5>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <input class="btn btn-sm btn-outline-secondary" type="file" id="files" name="files[]" multiple />
                <button class="btn btn-sm btn-outline-secondary" onclick="makePlots()">Make Plots</button>
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-md-9" id="forcePlot"></div>
          <div class="col-md-3" id="sideForce">
            <h6 class="h6">Image Bin</h6>
            <div id="imageDiv" class="imgDiv"></div>
            <button class="btn btn-sm btn-outline-secondary" onclick="clearImages('imageDiv')">Clear</button>
          </div>
        </div>
        <div class="row">
          <h5 class="h5">Class Frequency Stats</h5>
          <div class='col-md-12 marginalize' id='bargraph'></div>
        </div>
        <div class="row">
          <h5 class="h5">Class Probability Stats</h5>
          <div class='col-md-12 marginalize' id='violinplot'></div>
        </div>

        </main>
      </div>
    </div>





    </div>
    <script src="{{ url_for('static', filename='js/model.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
    <!--script src='../static/js/model.js' type="text/javascript"></script-->
    <!--script src='../static/js/index.js' type="text/javascript"></script-->
</body>
</html>
